{% extends './base.html.twig' %}

{% block body %}
    {% for model in modelList %}
        <div style="color: darkslategrey">
            {{ model.id }}
            {{ model.name }}
            <img src="{{ vich_uploader_asset(model) }}" alt="{{ model.image.name }}" />
        </div>
    {% endfor %}
{% endblock %}
